* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #1a2944, #263d60);
}
