<div class="auth__container">
  <div class="image__container">
    <div class="image__content">
      <h3>WELCOME TO SAFE ROAD</h3>
      <h4>Get started to make every journey safer.</h4>
    </div>
  </div>
  <div class="form__container flex justify-center items-center">
    <div>
      <h2 class="form__heading">Create an account</h2>
      <p class="form__paragraph">
        {{ isLoginMode() ? `Don't have an account? Get started` : 'Already have an account?' }}
      </p>
      <button type="button" class="btn_auth" (click)="isLoginMode.set(!isLoginMode())">
        {{ isLoginMode() ? 'Sign up' : 'Login' }}
      </button>
      <form class="auth__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        @if (!isLoginMode()) {
          <div class="user__information">
            <input
              class="small_input"
              type="text"
              placeholder="First Name"
              id="firstname"
              formControlName="firstName"
            />
            @if (isInvalid('firstName') || isInvalid('lastName')) {
              <p class="control-error">
                <strong> First name </strong> and <strong>Last name</strong> are required and should
                have atleast 3 chars
              </p>
            }
            <input
              type="text"
              placeholder="Last Name"
              id="lastname"
              formControlName="lastName"
              class="small_input"
            />
          </div>
        }
        <div class="placeholder">
          <input type="email" placeholder="Email" id="email" formControlName="email" />
          @if (isInvalid('email')) {
            <p class="control-error">Email is required and must be valid</p>
          }
        </div>
        <div class="placeholder">
          <input type="password" placeholder="Password" id="password" formControlName="password" />
          @if (isInvalid('password')) {
            <p class="control-error">Password is required and must be valid</p>
          }
        </div>
        <button type="submit" class="btn_create">
          {{ isLoginMode() ? 'Log in' : 'Create Account' }}
        </button>
      </form>
    </div>
  </div>
</div>
