@use 'variables.scss' as *;

.auth__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background-color: $color-dark-blue;
  justify-content: center;
  align-items: center;
}

.image__container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  max-width: 100%;
  background-image:
    linear-gradient(180deg, rgba(78, 63, 146, 0.35) 0%, rgba(28, 24, 46, 0.85) 70%),
    url('/assets/img/road drone view.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image__content {
  position: absolute;
  color: #ffffff;
  max-width: 500px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.image__content h3 {
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #d9d9d9, #a0a0a0);
  color: transparent;
  background-clip: text;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

.image__content h4 {
  background-image: linear-gradient(to right, #d9d9d9, #a0a0a0);
  color: transparent;
  background-clip: text;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

.auth__form input:not(input.small_input) {
  width: 400px;
  max-width: 400px;
  background-color: #3c364c;
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #3c364c inset;
  -webkit-text-fill-color: white;
}

.form__heading {
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #d9d9d9, #a0a0a0);
  color: transparent;
  background-clip: text;
  font-weight: bold;
}

.form__paragraph {
  color: #686674;
}

.small_input {
  width: 190px;
  max-width: 190px;
  background-color: #3c364c;
  border-radius: 4px;
}

.user__information {
  display: flex;
  gap: 20px;
  position: relative;
}

.auth__form input {
  border: 1px solid $color-dark-blue;
  color: #d9d6df;
  font-weight: 600;
  font-size: 15px;
  padding: 0.7rem;
}

.auth__form input:focus {
  border: 1px solid #665e81;
}

.auth__form input::placeholder {
  color: #665e81;
}

.auth__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__heading {
  margin-bottom: 20px;
}

.btn_create {
  border: none;
  padding: 0.7rem;
  width: 400px;
  max-width: 400px;
  background-color: #6d54b5;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn_create:hover {
  background-color: #927bd8;
}

.btn_auth {
  font-size: 15px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: #6d54b5;
  padding: 0.3rem;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.4s;
}

.btn_auth:hover {
  background-color: #927bd8;
}

.control-error {
  position: absolute;
  bottom: -18px;
  color: rgb(223, 96, 96);
  font-size: 12px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.placeholder {
  position: relative;
}

// .btn_create:disabled {
//   cursor: not-allowed;
//   opacity: 0.5;
// }
