@use 'variables.scss' as *;

.auth__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background-color: $color-dark-blue;
}

.image__container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  max-width: 100%;
  background-image:
    linear-gradient(180deg, rgba(78, 63, 146, 0.35) 0%, rgba(28, 24, 46, 0.85) 70%),
    url('/assets/img/road drone view.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image__content {
  position: absolute;
  color: #ffffff;
  max-width: 500px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.image__content h3 {
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #d9d9d9, #a0a0a0);
  color: transparent;
  background-clip: text;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

.image__content h4 {
  background-image: linear-gradient(to right, #d9d9d9, #a0a0a0);
  color: transparent;
  background-clip: text;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}
